body{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    gap: 16px;
}

.main .title{
    font-size: 32px;
}

.boardGrid{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.boardCell{
    user-select: none;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.restart{
    font-size: 2rem;
    padding: 4px 32px;
    background-color: #7a26c8;
    color: white;
    border-radius: 8px;
}

.header{
    background-color: blueviolet;
    color: white;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    padding: 16px 36px;
}