.boardGrid{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.boardCell{
    user-select: none;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}